* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  /* background-image: url("./img/bg.jpg"); */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.input-holder {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.search {
  width: 50%;
}

.airport {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 20px;
  border-radius: 7px;
}

.airport-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maps {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
span {
  color: #fff;
}
